/* base */
@import '../base/layout.css';
@import '../base/base.css';

/* vendor */

/* components */
@import '../components/button.css';

/* CUSTOM CSS */

.hero {
    background-image: url(../../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-main {
    background-color: #03a9f5;
}
.logo {
    width: 100%;
    height: 50px;
    object-fit: contain;
}
.hero >.row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-title {
    color: white;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -5px;
}
.main-description {
    color: white;
    text-align: center;
    font-size: 16px;
}
.column-title {
    font-size: 20px;
    text-transform: uppercase;
}
.column-description {
    font-size: 17px;
    line-height: 1.7em;
    color: #777
}
.column-description > a {
    color: var(--secondary-color);
    text-decoration: none;
}
.column-description > a:hover {
    text-decoration: underline;
}

